.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 60px; /* Adjust as needed */
  width: auto;
}

.social-icons {
  display: flex;
  padding-inline: 10px;
  gap: 1rem;
  align-items: center;
  color: var(--primary-color);
}

.social-icons a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .logo-img {
    height: 45px; /* Slightly smaller on mobile */
  }

  .social-icons a {
    font-size: 1.3rem; /* Slightly smaller icons on mobile */
  }
}
